.strokePicker > main > ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  align-items: center;
}

.strokePicker > main > ul > li{
  padding: 4px;
}

.strokeBox {
  width: 150px;
  height: 1px;
  background: #000000;
  display: inline-block;
}
